<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TabSize</key>
	<integer>-1</integer>
	<key>JSSource</key>
	<dict>
		<key>4</key>
		<string>http://106.15.178.156:7480/mobile-hub-dev/app/yanpei-yanpei-weex-demo/index.js?wh_weex=true</string>
		<key>3</key>
		<string>http://106.15.178.156:7480/mobile-hub-dev/app/yanpei-yanpei-weex-demo/detail.js?wh_weex=true</string>
		<key>2</key>
		<string>life.js</string>
		<key>1</key>
		<string>filance.js</string>
		<key>0</key>
		<string>index.js</string>
	</dict>
</dict>
</plist>
